QPushButton {
    background-color: #ff97acb6;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: #ffabc3ce;
}

QPushButton:pressed {
    background-color: #ffbfd7e2;
}

QMainWindow {
    background-color: #ff505259;
}

QTreeWidget {
    background-color: #ff5c5c5c;
    border-color: #ff43444b;
    border: 5px;
    border-radius: 5px;
}